.accordion {
  background: linear-gradient(to bottom right, #fff, #f7f7f7);
  background: #3f729b !important;
  margin: 0 auto;
  border-radius: 7px;
  transition: all ease 800ms;
}
.accordion:hover {
  /* box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2),
    0 40px 77px 0 rgba(0, 0, 0, 0.22) !important; */
  transition: box-shadow 0.3s ease-in-out;
}

.heading {
  color: #fff;
  font-size: 14px;
  border-bottom: 1px solid #e7e7e7;
  letter-spacing: 0.8px;
  padding: 15px;
  cursor: pointer;
  transition: all ease 800ms;
}
.heading:nth-last-child(2) {
  border-bottom: 0;
}
.heading:hover {
  background: #37474f;
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
}
.heading:first-child:hover {
  /* border-radius: 3px 3px 0 0; */
}
.heading:nth-last-child(2):hover {
  /* border-radius: 0 0 3px 3px; */
}
.heading::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  border-top: 7px solid #f5f5f5;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  float: right;
  transform: rotate(0);
  transition: all 0.5s;
  margin-top: 5px;
}
.active.heading::before {
  transform: rotate(-180deg);
}
.not-active.heading::before {
  transform: rotate(0deg);
}
.contents {
  display: none;
  background: #d8e4e6;
  padding: 15px;
  color: #1f515d;
  font-size: 14px;
  line-height: 1.5;
}
