.m-0 {
  margin: 0;
}

.icon-size {
  font-size: 32px;
}

#uuids {
  text-align: center;
  color: #d8e4e6;
}

#expand {
  display: inline-block;
  cursor: pointer;
}

.view-passive {
  height: 0;
}
.view-active {
  height: 200px;
}

.view {
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -ms-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  overflow-y: auto;
  margin-bottom: 20px;
}

.hover-btn {
  opacity: 0;
  margin: 0 30px;
  padding: 5px 15px !important;
  border-radius: 10px;
  transition: opacity 0.1s ease-in-out;
}

.uuid-hover:hover .hover-btn {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.uuid-hover {
  border-radius: 5px;
  padding: 5px 5px 5px 20px;
  margin: 5px;
  transition: all 0.2s ease-in-out;
}

.uuid-hover:hover {
  transform: scale(1.1);
  background-color: #d8e4e6;
  color: #143840;
}

.smooth {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
