@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

body {
  /* font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #1f2029; */
  overflow-x: hidden;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

/* #Primary style
================================================== */

/* .section {
  position: relative;
  width: 100%;
  display: block;
} */

.over-hide {
  overflow: hidden;
}
.full-height {
  height: 100vh;
}

/* #Navigation
================================================== */

.cd-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.header-wrapper {
  position: relative;
  width: calc(100% - 100px);
  margin-left: 50px;
}
.logo-wrap {
  position: absolute;
  display: block;
  left: 0;
  top: 40px;
  cursor: pointer;
}
.logo-wrap a {
  cursor: pointer;
  font-family: "Righteous", cursive;
  /* font-family: "Montserrat", sans-serif;
  font-weight: 900; */
  font-size: 44px;
  line-height: 20px;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  color: #fff;
  transition: all 0.3s ease-out;
}
.logo-wrap a span {
  color: #4285f4;
}
.logo-wrap a:hover {
  opacity: 0.9;
}
.nav__overlay-but-wrap {
  position: relative;
  display: inline-block;
  float: right;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: 26px;
  transition: all 0.3s ease-out;
}
.menu-icon {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: block;
}
.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #fff;
  margin-bottom: 7px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, background-color 0.5s ease;
  transition: transform 0.2s ease, background-color 0.5s ease,
    -webkit-transform 0.2s ease;
}
.menu-icon__line-left {
  width: 16.5px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.menu-icon__line-right {
  width: 16.5px;
  float: right;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.menu-icon:hover .menu-icon__line-left,
.menu-icon:hover .menu-icon__line-right {
  width: 30px;
}
.nav__overlay {
  left: 0;
  position: fixed;
  z-index: 98;
}
.nav__overlay:before,
.nav__overlay:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 21, 26, 0.6);
  border-bottom-left-radius: 200%;
  z-index: -1;
  -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s,
    border-radius linear 0.8s;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s,
    border-radius linear 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s,
    border-radius linear 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s,
    -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s,
    border-radius linear 0.8s;
  -webkit-transform: translateX(100%) translateY(-100%);
  transform: translateX(100%) translateY(-100%);
}
.nav__overlay:after {
  background: #1b414a;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.nav__overlay:before {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.nav__overlay__content {
  position: fixed;
  visibility: hidden;
  top: 50%;
  /* margin-top: 20px; */
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
}
.nav__overlay__list {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 2;
}
.nav__overlay__list-item {
  position: relative;
  display: block;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
  opacity: 0;
  text-align: center;
  color: #fff;
  overflow: hidden;
  /* font-size: 8vh; */
  -webkit-transform: translate(100px, 0%);
  transform: translate(100px, 0%);
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.2s ease, transform 0.3s ease;
  transition: opacity 0.2s ease, transform 0.3s ease,
    -webkit-transform 0.3s ease;
  margin-top: 0;
  margin-bottom: 0;
}
.nav__overlay__list-item a {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 900;
  z-index: 2;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.nav__overlay__list-item a:after {
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -2px;
  left: 50%;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: #8167a9;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.nav__overlay__list-item a:hover:after {
  height: 4px;
  opacity: 1;
  left: 0;
  width: 100%;
}
.nav__overlay__list-item a:hover {
  color: rgba(255, 255, 255, 1);
}
.nav__overlay__list-item.active-nav a {
  color: rgba(255, 255, 255, 1);
}
.nav__overlay__list-item.active-nav a:after {
  height: 4px;
  opacity: 1;
  left: 0;
  width: 100%;
}
body.nav__overlay-active .nav__overlay__content {
  visibility: visible;
}
body.nav__overlay-active .menu-icon__line {
  background-color: #fff;
  -webkit-transform: translate(0px, 0px) rotate(-45deg);
  transform: translate(0px, 0px) rotate(-45deg);
}
body.nav__overlay-active .menu-icon__line-left {
  width: 15px;
  -webkit-transform: translate(2px, 4px) rotate(45deg);
  transform: translate(2px, 4px) rotate(45deg);
}
body.nav__overlay-active .menu-icon__line-right {
  width: 15px;
  float: right;
  -webkit-transform: translate(-3px, -3.5px) rotate(45deg);
  transform: translate(-3px, -3.5px) rotate(45deg);
}
body.nav__overlay-active .menu-icon:hover .menu-icon__line-left,
body.nav__overlay-active .menu-icon:hover .menu-icon__line-right {
  width: 15px;
}
body.nav__overlay-active .nav__overlay {
  visibility: visible;
}
body.nav__overlay-active .nav__overlay:before,
body.nav__overlay-active .nav__overlay:after {
  -webkit-transform: translateX(0%) translateY(0%);
  transform: translateX(0%) translateY(0%);
  border-radius: 0;
}
body.nav__overlay-active .nav__overlay:after {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
body.nav__overlay-active .nav__overlay:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
body.nav__overlay-active .nav__overlay__list-item {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: opacity 0.3s ease, color 0.3s ease,
    -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease,
    -webkit-transform 0.3s ease;
}
body.nav__overlay-active .nav__overlay__list-item:nth-child(0) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
body.nav__overlay-active .nav__overlay__list-item:nth-child(1) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
body.nav__overlay-active .nav__overlay__list-item:nth-child(2) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
body.nav__overlay-active .nav__overlay__list-item:nth-child(3) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
body.nav__overlay-active .nav__overlay__list-item:nth-child(4) {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}
body.nav__overlay-active .nav__overlay__list-item:nth-child(5) {
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
body.nav__overlay-active .nav__overlay__list-item:nth-child(6) {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}
body.nav__overlay-active .nav__overlay__list-item:nth-child(7) {
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}
body.nav__overlay-active .nav__overlay__list-item:nth-child(8) {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
body.nav__overlay-active .nav__overlay__list-item:nth-child(9) {
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}
body.nav__overlay-active .nav__overlay__list-item:nth-child(10) {
  -webkit-transition-delay: 1.7s;
  transition-delay: 1.7s;
}

/* #Link to page
================================================== */

.link-to-portfolio {
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 200;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 3px;
  background-position: center center;
  background-size: cover;
  background-image: url("https://ivang-design.com/ig-logo.jpg");
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  transition: opacity 0.2s, border-radius 0.2s, box-shadow 0.2s;
  transition-timing-function: ease-out;
}
.link-to-portfolio:hover {
  opacity: 0.8;
  border-radius: 50%;
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
}
