body {
  font-family: "Kanit", sans-serif;
  background-color: #143840;
  transition: all ease 800ms;
}

h2 {
  color: #d8e4e6;
}

.mobile-view {
  padding-top: 10px;
  vertical-align: middle;
  color: #d8e4e6;
}
