body {
  font-family: "Kanit", sans-serif;
  background-color: #143840;
  transition: all ease 800ms;
}

h2 {
  color: #d8e4e6;
}

.mobile-view {
  height: 100vh;
  vertical-align: middle;
  color: #d8e4e6;
  line-height: 100vh;
  display: grid;
  align-items: center;
}
