<div id="editor-load-text" class="loading-text animated flash infinite slower">
  preparing editor
</div>
<div class="loading-indicator">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>
<div class="loading-indicator">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>
<div class="loading-indicator">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>
<div class="loading-indicator">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>
<div class="loading-indicator">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>
