<footer class="page-footer font-small pt-3 footer-bg">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-lg-3 col-sm-12 col-xs-12 mb-lg-0 mb-3 text-center lh-79">
        <p style="margin: 0; font-size: 32px;">Who we are?</p>
      </div>
      <div class="col-lg-3 col-sm-4 col-xs-4 mb-lg-0 mb-3">
        <div class="dev-card">
          <div class="d-flex">
            <img
              src="../styles/img/yoda-footer.svg"
              width="65"
              height="65"
              style="border-radius: 100%"
            />
            <div class="lh-40">
              <p class="ml-3 mb-0">Gürkan Akdeniz</p>
              <div class="d-flex">
                <a
                  href="https://gurkanakdeniz.github.io/"
                  target="_blank"
                  class="ml-3 mb-0"
                  ><i class="fas fa-link" style="font-size: 16px;"></i
                ></a>
                <a
                  href="https://github.com/gurkanakdeniz"
                  target="_blank"
                  class="ml-3 mb-0"
                  ><i class="fab fa-github" style="font-size: 16px;"></i
                ></a>
                <a
                  href="https://www.linkedin.com/in/g%C3%BCrkanakdeniz/"
                  target="_blank"
                  class="ml-3 mb-0"
                  ><i class="fab fa-linkedin" style="font-size: 16px;"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-4 col-xs-4 mb-lg-0 mb-3">
        <div class="dev-card">
          <div class="d-flex">
            <img
              src="../styles/img/stormtrooper-footer.svg"
              width="65"
              height="65"
              style="border-radius: 100%"
            />
            <div class="lh-40">
              <p class="ml-3 mb-0">İlkem Erol</p>
              <div class="d-flex">
                <a
                  href="http://www.ilkemerol.com/"
                  target="_blank"
                  class="ml-3 mb-0"
                  ><i class="fas fa-link" style="font-size: 16px;"></i
                ></a>
                <a
                  href="https://github.com/ilkemerol"
                  target="_blank"
                  class="ml-3 mb-0"
                  ><i class="fab fa-github" style="font-size: 16px;"></i
                ></a>
                <a
                  href="https://www.linkedin.com/in/ilkem-erol/"
                  target="_blank"
                  class="ml-3 mb-0"
                  ><i class="fab fa-linkedin" style="font-size: 16px;"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-4 col-xs-4 mb-lg-0 mb-3">
        <div class="dev-card">
          <div class="d-flex">
            <img
              src="../styles/img/hunter-footer.svg"
              width="65"
              height="65"
              style="border-radius: 100%"
            />
            <div class="lh-40">
              <p class="ml-3 mb-0">Mert Cacına</p>
              <div class="d-flex">
                <a href="https://www.mert.cc/" target="_blank" class="ml-3 mb-0"
                  ><i class="fas fa-link" style="font-size: 16px;"></i
                ></a>
                <a
                  href="https://github.com/mertcc34"
                  target="_blank"
                  class="ml-3 mb-0"
                  ><i class="fab fa-github" style="font-size: 16px;"></i
                ></a>
                <a
                  href="https://www.linkedin.com/in/mertcc34/"
                  target="_blank"
                  class="ml-3 mb-0"
                  ><i class="fab fa-linkedin" style="font-size: 16px;"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div
    class="footer-copyright text-center py-3"
    style="background-color: rgba(0,0,0,.0);"
  >
    2019 Copyright:
    <a href="https://github.com/gurkanakdeniz/kicket/blob/master/LICENSE">
      kicket license</a
    >
  </div>
  <!-- Copyright -->
</footer>
