<div id="uuids">
  <p id="expand" style="margin-bottom: 5px;">Quick Access History</p>
  <p style="margin-bottom: 5px;">
    <i
      id="expand-icon"
      class="fas fa-angle-down smooth"
      style="font-size: 20px;"
    ></i>
  </p>
  <div id="view" class="view view-passive" style="text-align: start">
    <div>
      <div id="uuid-list-view">
        <!--<div class="row">
          <div class="col-1"></div>
          <div
            class="uuid-hover col-10"
            style="display: flex; line-height: 30px;"
          >
            <i id="platform-icon" class="fab fa-node icon-size mr-5"></i>
            <p id="api-url" class="m-0">
              http://kicket.herokuapp.com/api/run/examplehashvalue
            </p>
            <button class="btn btn-outline-primary waves effect hover-btn">
              <i class="fas fa-copy"></i>
            </button>
          </div>
          <div class="col-1"></div>
        </div>-->
      </div>
    </div>
  </div>
</div>
<script src="../styles/js/history.js"></script>
