<div class="w-tabs">
  <input type="radio" id="tab1" name="tab-control" checked />
  <input type="radio" id="tab2" name="tab-control" />
  <input type="radio" id="tab3" name="tab-control" />
  <input type="radio" id="tab4" name="tab-control" />
  <ul>
    <li title="Baby Step">
      <label for="tab1" role="button"
        ><i class="fas fa-shoe-prints mr-3"></i><br /><span
          >Baby Step</span
        ></label
      >
    </li>
    <li title="Stand Up">
      <label for="tab2" role="button"
        ><i class="fas fa-running mr-3"></i><br /><span>Stand Up</span></label
      >
    </li>
    <li title="Break The Code">
      <label for="tab3" role="button"
        ><i class="fas fa-laptop-code mr-3"></i><br /><span
          >Break The Code</span
        ></label
      >
    </li>
    <li title="Ready to Launch">
      <label for="tab4" role="button"
        ><i class="fas fa-rocket mr-3"></i><br /><span
          >Ready to Launch</span
        ></label
      >
    </li>
  </ul>

  <div class="slider"><div class="indicator"></div></div>
  <div class="content">
    <section class="text-white">
      <h2>Baby Step</h2>
      Firstly, you need to care about our indicator that locale language buttons
      in editor settings tab. We can give you some hint about it😀.
      <span style="color: red;">Red</span>
      indicator means, don't force too much this language, just for basic use,
      perhaps less. <span style="color: orange;">Orange</span> indicator is the
      language works fine, but we need to do more test. And finally white
      indicator means, you can use this language fully compatibility.
    </section>
    <section class="text-white">
      <h2>Stand Up</h2>
      Then, you should choose correct programming language via editor settings
      tab. However, don't worry about to wrong choices. If you choose wrong
      language, our editor try to notify you with syntax error. Nevertheless,
      you may have unwittingly deploy your code, but don't worry you just get
      some errors. We expect you to follow some rules after choosing the right
      programming language. You can find these rules in the comment line at the
      beginning of the sample code.
    </section>
    <section class="text-white">
      <h2>Break The Code</h2>
      Well... well... Let's write some code. After writing some clean code (we
      believe you), all you have to do is press the
      <i style="color: #007bff;">Deploy</i> button. Then, the page will slowly
      scroll down annnddd you will see the super, uber, cool kicket UUID. This
      UUID is custom made for you, it's cool😎.
    </section>
    <section class="text-white">
      <h2>Ready to Launch</h2>
      If everything went smooth until this stage, you can be proud of
      yourself😎. Now, if you like, you can use our small app to test your
      custom rest api. Also, you can get full link of your custom rest api and
      you can make calls from anywhere and you can share it with the person you
      want. We don't currently have an IP restriction, so everybody can call
      your super, uber, cool rest api.
    </section>
  </div>
</div>
