<div class="w-tabs">
  <input type="radio" id="tab1" name="tab-control" checked />
  <input type="radio" id="tab2" name="tab-control" />
  <input type="radio" id="tab3" name="tab-control" />
  <input type="radio" id="tab4" name="tab-control" />
  <ul>
    <li title="Baby Step">
      <label for="tab1" role="button"
        ><i class="fas fa-shoe-prints mr-3"></i><br /><span
          >Baby Step</span
        ></label
      >
    </li>
    <li title="Stand Up">
      <label for="tab2" role="button"
        ><i class="fas fa-running mr-3"></i><br /><span>Stand Up</span></label
      >
    </li>
    <li title="Break The Code">
      <label for="tab3" role="button"
        ><i class="fas fa-laptop-code mr-3"></i><br /><span
          >Break The Code</span
        ></label
      >
    </li>
    <li title="Ready to Launch">
      <label for="tab4" role="button"
        ><i class="fas fa-rocket mr-3"></i><br /><span
          >Ready to Launch</span
        ></label
      >
    </li>
  </ul>

  <div class="slider"><div class="indicator"></div></div>
  <div class="content">
    <section class="text-white">
      <h2>Baby Step</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorem
      sequi, quo tempore in eum obcaecati atque quibusdam officiis est dolorum
      minima deleniti ratione molestias numquam. Voluptas voluptates quibusdam
      cum?
    </section>
    <section class="text-white">
      <h2>Stand Up</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quas
      adipisci a accusantium eius ut voluptatibus ad impedit nulla, ipsa qui.
      Quasi temporibus eos commodi aliquid impedit amet, similique nulla.
    </section>
    <section class="text-white">
      <h2>Break The Code</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nemo
      ducimus eius, magnam error quisquam sunt voluptate labore, excepturi
      numquam! Alias libero optio sed harum debitis! Veniam, quia in eum.
    </section>
    <section class="text-white">
      <h2>Ready to Launch</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dicta vero
      rerum? Eaque repudiandae architecto libero reprehenderit aliquam magnam
      ratione quidem? Nobis doloribus molestiae enim deserunt necessitatibus
      eaque quidem incidunt.
    </section>
  </div>
</div>
